/*Hotspot menu*/
.full {
	position: relative;
}
.map_detail .map_name {
	position: absolute;
	display: inline-block;
	/*top: 0;
	left: 0;*/
}
/*#map_detail .map_name polygon {
	fill: yellow;
	cursor: pointer;
}*/
.map_name .selector {
	cursor: pointer;
	padding: 0;
	margin: 0;
	width: 30%;
	height: 30%;
	opacity: 0;
}
.map_name .selector:hover {
	opacity: .9;
}

.map_name {
    position: relative;
    display: inline-block;
}

.map_name .map_name_text {
    visibility: hidden;
    /*width: 100%;*/
    padding: 5px;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 8pt;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    
    /* Position the tooltip */
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 30%;
}

.map_name:hover .map_name_text {
    visibility: visible;
}
#atlantic_forest,
#atlantic_forest .selector {
	/*width: 66px;
	top: 369px;
	left: 338px;*/
	width: 62px; /*56  diff= +6 ratio= x1.19*/
	height: auto;
	top: 412px; /*222 diff= +190 */
	left: 366px; /*335 diff= +11*/
}
#atlantic_forest span {
	width: 80px;
}
#cape_floristic,
#cape_floristic .selector {
	/*width: 18.5px;
	top: 438px;
	left: 536.5px;*/
	width: 18px; /*18 0*/
	height: auto;
	top: 477px; /*288 189*/
	left: 554px; /*524 10*/
	z-index: 2;
}
#cape_floristic span {
	width: 100px;
}
#cali_floristic, 
#cali_floristic .selector {
	width: 13px; /* 13*/
	height: auto;
	/*top: 246px;
	left: 177px;*/
	top: 297px; /*108*/
	left: 214px; /*183*/
}
#cali_floristic span {
	width: 100px;
}
#cali_floristic {
	/*top: 247px; /*92px 155*/
	/*left: 177px; /*177 px*/
}
#caribbean_islands,
#caribbean_islands .selector {
	/*width: 67px;
	top: 289px;
	left: 263px;*/
	width: 63px;
	height: auto;
	top: 337px; /*148*/
	left: 295px; /*264*/
	z-index: 2;
}
#caribbean_islands span {
	width: 85px;
}
#caucasus_01,
#caucasus_01 .selector {
	/*width: 42px;
	top: 236px;
	left: 582px;*/
	width: 41px;
	height: auto;
	top: 287px;
	left: 595px;
}
#cerrado_01,
#cerrado_01 .selector {
	/*width: 58px;
	top: 372.5px;
	left: 325px;*/
	width: 54px;
	height: auto;
	top: 417px;
	left: 354px;
}
#chilean_forests, 
#chilean_forests .selector {
	/*width: 26px;
	top: 421px;
	left: 285px;*/
	width: 25px;
	height: auto;
	top: 463px;
	left: 315px;
}
#chilean_forests span {
	width: 120px;
}
#eastern_africa, 
#eastern_africa .selector {
	/*width: 29px;
	top: 355.5px;
	left: 575px;*/
	width: 28px;
	height: auto;
	top: 400px;
	left: 589px;
	z-index: 2;
}
#eastern_africa span {
	width: 100px;
}
#melanesia,
#melanesia .selector {
	/*width: 68px;
	top: 363px;
	left: 866px;*/
	width: 65px;
	height: auto;
	top: 408px;
	left: 865px;
	z-index: 1;
}
#melanesia span {
	width: 100px;
}
#afromontane_01,
#afromontane_01 .selector {
	/*width: 49px;
	top: 301px;
	left: 561px;*/
	width: 46px;
	top: 350px;
	left: 576px;
	height: auto;
	/*z-index: 0;*/
}
#afromontane_01 span { 
	width: 100px;
	z-index: 10;
}
#e_australia,
#e_australia .selector {
	/*width: 20px;
	top: 401px;
	left: 871px;*/
	width: 19px;
	height: auto;
	top: 444px;
	left: 870px;
	z-index: 2;
}
#e_australia span {
	width: 100px;
}
#guinean_01, 
#guinean_01 .selector {
	/*width: 74px;
	top: 328px;
	left: 455px;*/
	width: 69px;
	height: auto;
	top: 375px;
	left: 477px;
}
#guinean_01 span {
	width: 100px;
}
#himalaya_01, 
#himalaya_01 .selector {
	/*width: 72px;
	top: 265px;
	left: 657px;*/
	width: 68px;
	height: auto;
	top: 315px;
	left: 668px;
}
#horn_of_africa,
#horn_of_africa .selector {
	/*width: 56px;
	top: 294px;
	left: 583px;*/
	width: 54px;
	height: auto;
	top: 342px;
	left: 597px;
}
#horn_of_africa span {
	width: 75px;
}
#indo-burma_01,
#indo-burma_01 .selector {
	/*width: 68px;
	top: 288px;
	left: 712px;*/
	width: 66px;
	height: auto;
	top: 336px;
	left: 719px;
}
#indo-burma_01 span {
	width: 65px;
}
#iranoan-atolian, 
#iranoan-atolian .selector {
	/*width: 66px;
	top: 250px;
	left: 571px;*/
	width: 63px;
	top: 301px;
	left: 585px;
	height: auto;
}
#iranoan-atolian span {
	width: 80px;
}
#japan_01,
#japan_01 .selector {
	/*width: 55px;
	top: 240px;
	left: 780px;*/
	width: 84px;
	height: auto;
	top: 291px;
	left: 784px;
	height: auto;
}
#madagascar_01, 
#madagascar_01 .selector {
	/*width: 60px;
	top: 370px;
	left: 591px;*/
	width: 57px;
	height: auto;
	top: 413px;
	left: 605px;
	z-index: 0;
}
#madagascar_01 span {
	width: 100px;
}
#madrean_01,
#madrean_01 .selector {
	/*width: 52px;
	top: 272px;
	left: 189px;*/
	width: 48px;
	height: auto;
	top: 322px;
	left: 226px;
}
#madrean_01 span {
	width: 100px;
}
#maputaland_01,
#maputaland_01 .selector {
	/*width: 25px;
	top: 423px;
	left: 551px;*/
	width: 23px;
	height: auto;
	top: 465px;
	left: 567px;
}
#maputaland_01 span {
	width: 100px;
}
#mediterranean_01, 
#mediterranean_01 .selector {
	/*width: 165px;
	top: 239px;
	left: 430px;*/
	width: 157px;
	height: auto;
	top: 290px;
	left: 452px;
}
#mesoamerica_01,
#mesoamerica_01 .selector {
	/*width: 101px;
	top: 286px;
	left: 190px;*/
	width: 97px;
	height: auto;
	top: 334px;
	left: 225px;
}
#central_asia_01,
#central_asia_01 .selector {
	/*width: 58px;
	top: 238px;
	left: 639px;*/
	width: 54px;
	height: auto;
	top: 290px;
	left: 651px;
}
#central_asia_01 span {
	width: 124px;
}
#sw_china_01,
#sw_china_01 .selector {
	/*width: 32px;
	top: 271px;
	left: 709px;*/
	width: 29px;
	height: auto;
	top: 320px;
	left: 717px;
}
#sw_china_01 span {
	width: 90px;
}
#new_caledonia,
#new_caledonia .selector {
	/*width: 35px;
	top: 406px;
	left: 903px;*/
	width: 31px;
	height: auto;
	top: 446px;
	left: 901px;
	z-index: 1;
}
#new_caledonia span {
	width: 80px;
}
#new_zealand_l,
#new_zealand_l .selector {
	/*width: 33px;
	top: 451px;
	left: 22px;*/
	width: 12px;
	height: auto;
	top: 476px;
	left: 71px;
	z-index: 2;
}
#new_zealand_r,
#new_zealand_r .selector {
	/*width: 57px;
	top: 436px;
	left: 883px;*/
	width: 44px;
	height: auto;
	top: 479px;
	left: 891px;
}
#new_zealand_l span,
#new_zealand_r span {
	width: 74px;
}
#philippines_01,
#philippines_01 .selector {
	/*width: 36px;
	top: 304px;
	left: 787px;*/
	width: 33px;
	height: auto;
	top: 353px;
	left: 791px;
}
#polynesia-micronesia_l,
#polynesia-micronesia_l .selector {
	/*width: 113px;
	top: 284.5px;
	left: 16px;*/
	width: 161px;
	height: auto;
	left: 62px;
	top: 335px;
}
#polynesia-micronesia_r,
#polynesia-micronesia_r .selector {
	/*width: 62px;
	top: 263px;
	left: 905px;*/
	width: 119px;
	height: auto;
	top: 354px;
	left: 838px;
	/*z-index: 0;*/
}
#polynesia-micronesia_l span,
#polynesia-micronesia_r span {
	width: 100px;
	z-index: 10;
}
#sw_australia_01,
#sw_australia_01 .selector {
	/*width: 35px;
	top: 427px;
	left: 794px;*/
	width: 32px;
	height: auto;
	top: 468px;
	left: 798px;
}
#sw_australia_01 span {
	width: 100px;
}
#succulent_karoo,
#succulent_karoo .selector {
	/*width: 21px;
	top: 429px;
	left: 530px;*/
	width: 18px;
	height: auto;
	top: 471px;
	left: 548px;
}
#succulent_karoo span {
	width: 90px;
}
#sundaland_01,
#sundaland_01 .selector {
	/*width: 72px;
	top: 335px;
	left: 732px;*/
	width: 67px;
	height: auto;
	top: 382px;
	left: 739px;
}
#tropical_andes,
#tropical_andes .selector {
	/*width: 49px;
	top: 330px;
	left: 276px;*/
	width: 46px;
	height: auto;
	top: 376px;
	left: 308px;
}
#tropical_andes span {
	width: 75px;
}
#tumbes-choco,
#tumbes-choco .selector {
	/*width: 49px;
	top: 334px;
	left: 247px;*/
	width: 46px;
	height: auto;
	top: 380px;
	left: 280px;
}
#tumbes-choco span {
	width: 128px;
}
#wallacea_01,
#wallacea_01 .selector {
	/*width: 46px;
	top: 347px;
	left: 796px;*/
	width: 43px;
	height: auto;
	top: 393px;
	left: 799px;
}
#western_ghats,
#western_ghats .selector {
	/*width: 31px;
	top: 302px;
	left: 674px;*/
	width: 29px;
	height: auto;
	top: 350px;
	left: 684px;
}
#western_ghats span {
	width: 128px;
}
