/*general style*/

/*header*/
header {
	/*background-color: gray;*/
	width: 100%;
	height: 300px;
	text-align: center;
	position: relative;
}
#header_title_img {
	width: 100%;
	margin: auto;
	position: absolute;
	top: 60px;
}
#title {
	width: 520px;
	margin: auto;
}
#title h1 {
	line-height: .1em;
}
#title p {
	line-height: .3em;
	font-size: 1.1em;
	padding-bottom: 15px;
	font-style: italic
}
#line {
	width: 980px;
	margin: auto;
	border-bottom: 1px solid black;
	position: relative;
	top: -20px;
}
footer {
	clear: both;
	height: 100px;
}

/*body*/
#wrapper {
	margin: auto;
	width: 960px;
}
a {
	text-decoration: none;
	color: gray;
	font-family: sans-serif;
	line-height: 1.4em;
	font-size: .8em;
}
.inter a {
	text-transform: uppercase;
	font-size: .9em;
}
main a {
	float: right;
	font-size: .85em;
}
main p {
	font-size: 1em;
	line-height: 1.3em;
}
a:hover {
	color: black;
}
nav.intra {
	/*background-color: red;*/
	float: left;
	width: 180px;
	height: 418px;
	overflow: scroll;
	position: relative;
	padding-left: 10px;
	padding-right: 15px;
}
nav.inter {
	/*background-color: blue;*/
	float: right;
	width: 180px;
	height: 418px;
	position: relative;
}
nav.side_menu {
	background-color: yellow;
}
main {
	/*background-color: green;*/
	width: 520px;
	margin: auto;
	text-align: justify;
	position: relative;
}
main img {
	width: 520px;
}
#top_horizontal {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
	top: -40px;
	padding-bottom: 40px;
}
#top_horizontal ul {
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}
#top_horizontal ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	position: relative;
	right: 50%;
	padding: 0px 20px 0px 20px;
	text-transform: uppercase;
}
#top_horizontal ul li a {
	color: black;
}
#top_horizontal ul li a:hover {
	color: gray;
}
#main_full_width {
	width: 960px;
}
#main_full_width img {
	width: 960px;
	box-shadow: 1px 1px 1px 1px gray;
}
#main_full_width a {
	float: right;
	padding-bottom: 5px;
}
#title_full_width {
	text-align: center;
}
#main_partial_width {
	width: 730px;
	float: right;
	padding-right: 10px;
}
#main_partial_width img {
	width: 730px;
	box-shadow: 1px 1px 1px 1px gray;
}
.img_left {
	float: left;
	height: 300px;
	width: 200px;
	margin: 15px 15px 5px 0px;
}
#grid_menu {
	width: 960px;
	height: 100%;
}

#grid_menu td {
	width: 326px;
	height: 200px;
}
#grid_menu td div {
	border: 1px solid gray;
	width: 296px;
	height: 170px;
	margin: auto;

}
#multi_column_list table {
	width: 960px;
}
#multi_column_list table td {
	width: 173px;
	padding: 15px;
}
#multi_column_list table td a {
	display: list-item;
	float: none;
	list-style: none;
	text-align: center;
	line-height: .9em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}