/*general style*/
body {
	position: relative;
	margin: 0 auto;
}
.body_outline {
	border: 1px solid #E0E0E0;
}
.fixed_width {
	width: 1100px;
}
p, h1, h2, h3, h4, td, sup > a, 
.footnotes a, p > a, ol > li, #just_the_facts > li,
#table_of_contents a, #footer_menu p {
	font-family: 'Lora', serif;
	/*font-family: 'Merriweather', serif;*/
}
h1, h2 {
	font-weight: normal;
}
a, li, .dropbtn, .preview_expand { 
	font-family: 'Hind', sans-serif;
	color: #474747;
}
p > a {
	/*color: #474747;*/
	font-style: italic;
	font-size: 1em;
}
ol > li {
	color: black;
}
a:hover, .preview_btn > a:hover {
	color: gray;
}
.upcase {
	text-transform: uppercase;
}


/*header*/
header {
	width: 100%; /*change to max-width to match footer?*/
	background: #333;
	box-shadow: 0 2px 6px gray;
}
.header_wrapper, .header_wrapper_home {
	position: relative;
	max-width: 980px;
	/*padding: 40px 0 30px 0;*/
	padding: 20px;
	margin: auto;
}
/*styling for main header text*/
.header_wrapper > div {
	position: relative;
	display: inline-block;
	top: 0;
	left: 0;
	max-width: 70%;
}
.header_wrapper #home > p {
	color: #f8ae47;
	font-size: 2em;
	left: 0;
	/*margin: 0 0 0 10px;*/
	margin: 0;
	/*max-width: 70%;*/
}
/* styling for special header on hoe page */
#home_header {
	text-align: center;
	margin: 0 auto;
	max-width: 700px;
}
#header_title > a {
	color: #f8ae47;
	font-size: 2em;
}
#home_header > p {
	text-align: left;
	color: #f8ae47;
	font-size: 1.1em;
}

/*footer*/
footer {
	clear: both;
	margin: auto;
	max-width: 100%;
	min-height: 130px;
	position: relative;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 32px;
	background: #333;
	box-shadow: 0 -2px 6px gray;
	/*margin-top: 4em;*/
}
footer div.footer_wrapper {
	max-width: 980px;
	/*position: relative;*/
	margin: 0 auto;
}
div#footer_info {
	padding: 0 20px;
}
footer p {
	font-family: sans-serif;
	color: white;
	position: relative;
	/*left: 20px;*/
}
div.shifted_text {
	margin-left: 260px;
}
div.shifted_text_map {
	margin-left: 290px;
	/*padding-left: 150px;*/
}
div.shifted_text_map1 {
	margin-left: 300px;
}
div.shifted_text_map2 {
	margin-left: 380px;
}

/*navigation*/
a {
	text-decoration: none;
	font-size: .95em;
}

/* Style The Dropdown Button */
nav.menu_btn {
	float: right;
}

.dropbtn {
    background-color: #333;
    color: #f8ae47;
    padding: 8px;
    font-size: .95em;
    border: 1px solid #474747;
    cursor: pointer;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #474747;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 20px;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 8px 8px;
	color: #333;
	font-size: .95em;
	border-bottom: 1px solid #E0E0E0;
    display: block;
    text-align: left;
}
.dropdown a:hover {background-color: #f1f1f1}

/* Change the background color of the dropdown button when the dropdown content is shown*/
.show {display: block;}

/*top jump*/
.top_jump {
	position: absolute;
	right: 30px;
}
#sticker {
	padding-right: 20px;
}
#footer_menu {
	position: relative;
	margin: 0 auto;
}
#footer_menu div {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
}
div#footer_links {
	max-width: 600px;
}
#footer_menu .footer_link {
	/*display: inline-block;*/
	font-size: .9em;
	/*color: #E0E0E0;*/
	color: #f8ae47;
	padding: 0 8px;
	margin: 0 5px;
	white-space: pre;
}
#footer_menu .footer_link:hover {
	background-color: #474747
}
#footer_menu span {
	color: #929292;
}
div#footer_contact {
	text-align: left;
	float: left;
}
div#footer_copyright p,
div#footer_contact p, div#footer_contact p > a {
	font-size: .8em;
	font-style: normal;
	color: #929292;
}
div#footer_contact p > a {
	font-size: 1em;
}
div#footer_copyright {
	text-align: right;
	float: right;
}

/*3-column list menu*/
.table_links {
	display: none;
	padding: 30px;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 4em;
}
.table_links > div > table {
	margin: 0 auto;
}
.table_links td {
	padding: 10px 30px 0 0;
}
.table_links td:first-child {
	padding-left: 0;
}
.table_links a {
	color: #474747;
}

/*alt menu single-column*/
.alt_menu {
	display: none;
	padding: 30px;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 4em;
	text-align: center;
}
.alt_menu a {
	display: block;
}

/*next and previous chapter links at bottom of page*/
.shifted_text.chapter_nav,
.chapter_nav {
	font-size: 1.1em;
	margin-top: 4em;
	margin-bottom: 80px;
	padding-top: 30px;
	border-top: 1px solid #E0E0E0;
}
#return_maps, #return_datascapes {
	width: 148px;
	padding: -15px;
}
#return_datascapes {
	width: 145px;
}
#return_npi {
	width: 204px;
}
.chapter_nav div, .top_jump, .return_link, .preview_btn {
	border-bottom: 1px dotted #E0E0E0;
}
.chapter_nav div:hover, .top_jump:hover,
.return_link:hover, .preview_btn:hover {
	border-bottom: 1px solid white;
}
.chapter_nav .prev_chapter {
	float: left;
}
.chapter_nav .next_chapter {
	float: right;
}
.chapter_nav .sub_page {
	margin-bottom: 80px;
}

/*content*/
.page_title {
	/*max-width: 980px;*/
	width: 100%;
	/*margin: 0 auto;*/
	text-align: center;
	padding: 24px 0 24px 0;
	margin-top: 20px;
	margin-bottom: 1.5em;
	font-size: 2em;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
}
#subpage_title {
	margin-top: 10px;
}
.author {
	font-style: italic;
	font-size: 18px;
}
#sub_title {
	font-size: 1.2em;
	font-style: italic;
	padding-bottom: 45px;
}
.section_break {
	margin: 0 auto;
	max-width: 750px;
	margin-top: 30px;
	margin-bottom: 4em;
	border-top: 1px solid #E0E0E0;
	clear: both;
}

#wrapper, #subpage_wrapper {
	margin: 0 auto;
	position: relative;
	max-width: 980px; 
	padding: 20px;
}
#subpage_wrapper {
	padding-top: 10px;
}
main {
	max-width: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.text_column {
	max-width: 600px; 
	margin: 0 auto;
}
.preview_section {
	margin: 0 auto;
	max-width: 750px;
}
.preview_section img {
	max-width: 340px;
	max-height: 227px;
	float: left;
	margin-right: 2em;
}
.preview_section .img_sub {
	width: 340px;
	height: 227px;
	background: #333;
	float: left;
	margin-right: 2em;
}
.preview_section .img_sub {
	width: 340px;
	height: 227px;
	background: #333;
	float: left;
	margin-right: 2em;
}
.preview_section .img_sub h2, 
.preview_section .img_sub span {
	color: #f8ae47;
	text-align: center;
	vertical-align: middle;
}
.preview_section .img_sub h2 {
	margin-top: 90px;
}
.img_sub span {
	font-family: 'Lora', serif;
	font-size: 1.5em;
	margin: -2px 13px;
	display: inline-block;
}
.preview_section span.preview_btn {
	float: right;
}
.left_float { /*copyright img*/
	float: left;
	padding: .5em 2em 1em 0;
}
#license_img {
	max-width: 200px;
}
.single_line {
	line-height: .5em;
}
.last_para {
	margin-bottom: 4em;
}
.last_preview {
	margin-bottom: 6em;
}
.first_preview {
	margin-top: 4em;
}
.first_letter {
	font-size: 1.5em;
}
.preview_img {
	float: left;
	margin: 0 20px 10px 0;
	width: 250px;
	height: auto;
	border: 2px solid white;
	box-shadow: 1px 1px 5px #dcdcdc;
}
.preview_fig {
	float: left;
	margin: 0 30px 0 0;
	width: 250px;
	height: auto;
}
.preview_fig > figcaption > a {
	color: #474747;
}
.preview_fig > figcaption > a > i {
	font-size: .7em;
}
.preview_img {
	width: 250px;
	height: auto;
	margin-top: 5px;
	border: 2px solid white;
	box-shadow: 1px 1px 5px #dcdcdc;
}
.preview_img:hover {
	border: 2px solid #f8ae47;
	cursor: pointer;
}
main ol > li {
	max-width: 510px;
}
#just_the_facts {
	max-width: 520px;
}
main p, ol > li, #just_the_facts {
	font-size: 1em;
	line-height: 150%;
	/*text-align: justify;*/
}
#just_the_facts > li {
	color: black;
	padding-bottom: .3em;
}
.quote_block {
	padding-top: 0;
	padding-bottom: 1.5em;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #E0E0E0;
}
#precis_quote, #map_quote {
	margin-top: 3em;
	padding-top: 2em;
	border-top: 1px solid #E0E0E0;
}
.quote, .quotee, #table_of_contents {
	text-align: center;
}

.quotes {
	margin: auto;
	text-align: center;
	max-width: 85%;
}
.quote {
	font-style: italic;
	/*font-size: 1.1em;*/
}
.quote > sup {
	font-size: .7em;
}
.quotee {
	font-size: .8em;
}
div.full, .data_fig, .full_world_park, .map_fig {
	max-width: 980px; /*980 for maps, ok for data_figs?*/
	margin: auto;
	text-align: center;
}
div.full img, .data_fig img, .map_fig img {
	max-width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
figure#glcp, figure#wp {
	max-width: 750px;
}

.map_fig img {
	padding-bottom: 10px;
}
.map_fig figcaption {
	text-align: left;
	padding-left: 30px;
}
div.full p {
	color: gray;
	padding-left: 6px;
}
main sup {
	font-size: .7em;
}
main sup a, .footnotes a, 
.slideshow_main a {
	color: black;
}
main sup a:hover, .footnotes a:hover,
.slideshow_main a:hover {
	color: gray;
}
main .sub-head {
	position: relative;
	top: -1em;
}
main div.sources {
	font-size: .7em;
	line-height: .9em;
	padding-top: 4em;
	padding-bottom: 12px;
}
main div.sources > p {
	text-align: left;
}
main a#enlarge {
	color: gray;
	/*position: relative;*/
}
main figure {
	/*margin: 45px 0 0 0;*/
	max-width: 100%; /*added 1.14*/
	margin: 0 auto;
	/*padding: 4em 0 30px 0;*/
	padding: 1.2em 0 .5em 0;
}

.top_fig {
	padding-top: 0;
}
main figure > figcaption,
span#hotspot_main_caption {
	/*padding: 12px 4px;*/
	padding: 15px;
	font-size: .9em;
	color: #474747;
}
span#hotspot_main_caption {
	display: inline-block;
}
main figure.text_center,
main figure.text_wide {
	margin-bottom: 4px;
	max-width: 600px;
}
main figure > img, figcaption {
	max-width: 100%;
}
main figure.text_left {
	float: left;
	display: inline-block;
	margin: 6px 20px 4px 0;
	width: 280px;
}
main figure.text_narrow {
	max-width: 480px;
	margin-bottom: 4px;
	text-align: center;
}
figure.fauna_fig {
	border-bottom: 1px solid #E0E0E0;
}

figure.header_fig {
	max-width: 960px; /*added 1.14*/
	padding: 0;
	margin-bottom: 4em;
}
figure.header_fig img, figure.data_fig {
	/*padding: 10px;*/ /*removed 1/21*/
	/*max-width: 960px;*/
	max-width: 100%;
}
img#zhao, img#cyano {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 426px;

}
img#seeds {
	border-radius: 50%;
}
figure.header_fig figcaption {
	border-bottom: 1px solid #E0E0E0;
	/*font-size: .9em;*/
}

figure.data_fig figcaption {
	width: 675px;
	padding: 20px;
	margin: 0 auto;
	text-align: left;
}
figure.interior_full_fig {
	max-width: 800px;
}
figure.interior_full_fig img {
	max-width: 100%;
}
.first_para {
	text-indent: 32px;
}
.img_outline {
	border: 1px solid #E0E0E0;
}
.centered_text, .centered_text_lg {
	max-width: 750px;
	margin: 0 auto;
	margin-bottom: 4em;
}
.centered_text_lg {
	max-width: 980px;
}
.centered_text li {
	font-family: 'Lora', serif;
	line-height: 1.5em;
}
.center_cap {
	padding: 15px 0;
	text-align: center;
}
.indent {
	margin-left: 3em;
}

/*national performance index tables*/
.npi {
	width: 980px; /*change to max-width?*/
	margin: 0 auto;
}
#npi_caption {
	font-size: .9em;
}
.npi > table {
	/*padding-top: 32px;*/
	padding-bottom: 4em;
	border-collapse: collapse;
}
.npi > table a {
	color: #595959;
}
.npi > table a:hover {
	color: black;
}
.npi > table > tbody {
	height: 600px;
	overflow-y: auto;
}
.npi > table > thead > tr > th, 
.npi > table > tbody > tr > td {
	font-family: 'Hind', sans-serif;
	font-size: .85em;
	text-align: center;
	line-height: 1.2em;
}
.npi > table > thead > tr > th  {
	padding: 8px 12px;
	background: #f1f1f1;
	cursor: pointer;
}
.npi > table > thead > tr > th:hover {
	background: #D8D8D8;
}
.npi > table > tbody > tr > td:first-child,   
.npi > table#npiHotTable > tbody > tr > td:nth-child(2) {
	text-align: left;
}
.npi > table#npiHotTable > tbody > tr > td:first-child,
.npi > table#npiHotTable > tbody > tr > td:nth-child(6) {
	text-align: center;
}
.npi > table > tbody > tr:hover {
	background: #f8ae47;
}
.npi table > tbody > tr > td {
	padding: 2px 12px;
	font-size: .8em;
	border-bottom: 1px solid #f1f1f1;
}
#col_2, #col_3, #col_4, #col_5, #col_6, #col_7 {
	width: 159px;
}

.table_previews {
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	max-width: 760px;
	background: #f1f1f1;
	box-shadow: 1px 1px 5px #dcdcdc inset;
}
.table_previews > a > figure {
	max-width: 330px;
	margin: 12px;
	background: white;
	display: inline-block;
	padding: 5px;
	border: 2px solid white;
	box-shadow: 1px 1px 5px #dcdcdc;
}
.table_previews > a > figure:first-child {
	margin-right: 8px;
}
.table_previews > a > figure > figcaption {
	text-align: left;
	padding: 0 0 12px 15px;
	color: #474747;
}
.table_previews > a > figure > img {
	width: 94%;
	margin: 1.5% 1.5% 1% 1.5%;
	border: 1px solid #E0E0E0;
}
.table_previews > a > figure:hover {
	border: 2px solid #f8ae47;
}
/*Map and legend styling*/
.map_image, .data_img_tall, .data_fig, .map_fig {
	margin-bottom: 30px;
}
#tall_map {
	max-height: 800px;
}
.data_img_tall, .data_fig img {
	max-height: 500px;
}
.alt_title, .alt_table {
	display: none;
}

div.legend {
	float: left;
	padding: 0;
	margin: 0;
	position: relative;
	top: 25px; 
	width: 200px;
	font-size: .85em;
}
.intext_legend {
	padding: 0;
	margin: 0;
	width: 600px;
	font-size: .85em;
}

/*div.legend td:first-child {
	text-align: center;
}*/
.left_align { /*deleted div.legend before*/
	text-align: left;
}
.left_shift {
	position: relative;
	left: -8px;
}
.right_shift {
	position: relative;
	left: 5px;
}
.width_260 {
	width: 260px;
}
.green_span {
	color: green;
}
.world_park, .world_park_sm {
	max-height: 600px;
	width: auto;
	margin: 30px 0 10px 20px;
	border: 1px solid #dcdcdc;
}
.world_park:first-child, 
.world_park_sm:first-child {
	margin-left: 0;
}
.world_park_sm {
	height: 510px;
	width: auto;
}
div.legend td > img {
	vertical-align: 0;
}
div.legend sup {
	font-size: .5em;
}
div.legend td {
	vertical-align: top;
	/*font-size: .8em;*/
}
div.legend span {
	font-size: .9em;
}
div.color_block {
	width: 14px;
	height: 12px;
	position: relative;
	top: 2px;
}
div.color_bar {
	width: 11px;
	position: relative;
	top: 2px;
}
div.round{
	border-radius: 50%;
	height: 11px;
	width: 11px;
}
div.sm{
	width: 8px;
	height: 8px;
	top: 4px;
}
img.legend_line {
	position: relative;
	top: -4px;
}
img.legend_mid {
	position: relative;
	top: -2px;
}
img.legend_high {
	position: relative;
	top: -6px;
}
.side_bar { /*remove if not needed*/
	width: 260px;
	position: relative;
	top: -12px;
	font-size: .9em;
}
table.wide_legend {
	width: 500px;
}
table.legend_260 {
	width: 260px;
}
div.endnotes {
	padding-bottom: 4em;
}
div.footnotes {
	/*padding-bottom: 30px;*/
}
div.endnotes p, sup {
	font-size: .8em;
}
div.footnotes p {
	text-indent: 32px;
	text-align: left;
	font-size: .8em;
	max-width: 100%;
	word-wrap: break-word;
}
div.footnotes p.citation {
	text-indent: 0;
}
div.img_wrapper {
	position: relative;
	width: 100%;
}
div.img_wrapper p {
	position: absolute;
	font-size: .8em;
}
.separator {
	text-align: center;
}

/*World Maps main page grid*/
main.grid_menu,
.grid_menu_wide {
	float: right; /*responsiveness?*/
	width: 720px;
	background: #f6f6f6;
	box-shadow: 1px 1px 5px #dcdcdc inset;
	padding-left: 1.1%;
	padding-top: .6%;
	padding-bottom: .6%;
	margin-bottom: 4em;
}
.grid_menu_wide {
	width: 100%;
}
.grid_menu div,
.grid_menu_wide div {
	float: left;
 	margin: 1.1%;
  	opacity: 1;
  	padding: 1%;
  	width: 28%;
	height: 140px;
	box-shadow: 1px 1px 5px #dcdcdc;
	border: 2px solid white;
	background: white;
	/*box-sizing: border-box;*/
}
.grid_menu_wide div {
	position: relative;
	margin: .8%;
	padding: .5%;
	width: 21.7%;
	height: 140px;
}
.grid_menu a > div:hover,
.grid_menu_wide a > div:hover {
	border: 2px solid #f8ae47;
}
.grid_menu div:nth-child(3n),
.grid_menu_wide div:nth-child(3n) {
	clear: both;
}
.grid_menu div p,
.grid_menu_wide div p {
	/*position: relative;*/
	margin: auto;
	padding: 2px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: #333;
	font-family: 'Hind', sans-serif;
	position: relative;
	z-index: 5;
}

.grid_menu div.two_line p,
.grid_menu_wide div.two_line p,
.grid_menu_wide div.two_line_hotspot p {
	line-height: 1.2em;
	font-size: 1em;
	z-index: 1000;
}

.grid_menu_wide div > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 95%;
	height: auto;
	top: 15px;
	background: white;
	box-shadow: none;
	z-index: 0;
}

.grid_menu_wide div > img.winkel {
	width: 76%;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: -2px;
}
.grid_menu_wide div > img.hot_thumb {
	width: 74%;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 2px;
}

.grid_menu div.two_line > img,
.grid_menu_wide div.two_line > img {
	top: 2px;
}
.grid_menu_wide div.two_line_hotspot > img {
	top: -14px;
	z-index: 0
}
.grid_menu div#displace > img,
.grid_menu_wide div#displace > img {
	top: 19px;
}
.grid_menu_wide .data_thumb {
	max-width: 194px;
	max-height: 97px;
	top: 0;
	left: -2px;
}

/*.slideshow-container,
.slideshow-container-lg,*/
.preview-container,
.fauna-container,
.hotspot-container {
	text-align: center;
	max-width: 980px;
	max-height: 560px;
	margin: auto;
	/*position: relative;*/
	background: #f6f6f6;
	box-shadow: 1px 1px 5px #dcdcdc inset;
}
.hotspot-container {
	width: 980px;
}
#hotspot_menu {
	padding-top: 2px;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 4em;
}

.preview-container {
	min-height: 494px;
}
.fauna-container {
	min-height: 856px;
	margin-bottom: 4em;
}
.hotspot-container {
	padding: 0;
	min-height: 456px;
}

/*.slideshow-container .mySlides,
.slideshow-container-lg .mySlides,*/
.preview-container .mySlides,
.fauna-container .mySlides,
.hotspot_menu_img {
	position: relative;
	margin: 0 auto;
	text-align: center;
	max-width: 960px; /*changed from widht 1.13*/
	/*height: 100%;*/
	background: white;
	top: 10px;
	/*margin-bottom: 20px;*/
	box-shadow: 1px 1px 5px #dcdcdc;
}
.fauna-container .mySlides {
	min-height: 836px;
}
.fauna-container .mySlides img {
	max-width: 960px;
}
.hotspot_menu_img {
	width: 960px;
	/*padding: 10px;*/
}
#hotspot_menu_alt {
	display: none;
}


.preview-container .mySlides img {
	max-width: 940px;
	max-height: 400px;
	margin: 10px;
	background: white;
}
.fuana-container .mySlides img {
	/*width: 100%;*/
	max-width: 960px; 
}
.text { /*flora and fauna initial*/
	float: left;
	position: absolute;
	bottom: -10px;
  	width: 190px;
  	font-size: 0.7em;
  	margin: 15px;
  	text-align: left;
}
.fauna_text {
	position: relative;
	padding: 10px 30px;
	color: #474747;
	line-height: 150%;
	text-align: left;
	font-size: .85em;
	vertical-align: bottom;
}
.alt_slideshow {
	display: none;
}

/* Slideshow container for Datascapes */
.slideshow-container-lg {
	height: 100%;
}

.slideshow-container-lg .slideshow_main {
	text-align: left;
	position: relative;
	width: 600px;
	margin: auto;
	background: white;
	padding-top: 20px;
	padding-bottom: 80px;
}
.slideshow-container-lg .slideshow_main p,
.slideshow-container-lg .slideshow_main h1 {
	margin: auto;
	padding-top: 20px;
}
.slideshow-container-lg .mySlides > img,
.slideshow-container-lg .mySlides > table {
	/*width: 980px;*/
	float: none;
	/*background: white;*/
	position: relative;
	max-height: 470px;
	max-width: 960px;
	margin: 0 auto;
}
.wide_slide {
	min-width: 960px;
}


/* Next & previous buttons */
a.prev, a.next {
  cursor: pointer;
  color: #717171;
  /*padding: 32px;*/
  padding: 10px;
  /*font-weight: bold;*/
  font-size: 1.3em;
}
a.prev {
	/*position: absolute;*/
	left: 0;
}
.datascape_arrows a.prev, 
.datascape_arrows a.next {
	font-size: 2em;
	font-weight: normal;
	color: white;
	background: #333;
	opacity: 0.1;
	padding: 15px;
	z-index: 5;
}
.datascape_arrows a.prev,
.datascape_arrows a.next {
	position: absolute;
	top: -10px;
}
.datascape_arrows a.prev {
	border-radius: 0 10px 10px 0;
	left: 0;
}
.datascape_arrows a.next {
	border-radius: 10px 0 0 10px;
	right: 0;
}
.datascape_arrows a.prev:hover, 
.datascape_arrows a.next:hover {
	opacity: 0.3;
}
.fauna_arrows {
	position: relative;
	top: -245px;
	margin-right: 40px;
	float: right;
}

/* Position the "next button" to the right */
a.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #bbb;
}


.slideshow_main {
	margin-top: 4em;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
}

/* The dots/bullets/indicators */
.slideshow_nav { 
	max-width: 980px;
	margin: auto;
	/*padding-top: 40px;*/
	padding-bottom: 30px;
	text-align: center;
}
.datascapes {
	padding-bottom: 4em;
}
.datascapes_top {
	padding-top: 0;
}
.datascape_arrows {
	width: 980px;
	position: relative; /*postitions arrows*/
	left: -10px;
	top: 10px;
}
.show_nav_sm {
	width: 690px;
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Mobile view */
/** Tablet view **/
/*@media only screen and (max-width:896px)*/
@media only screen and (max-width:768px) {
	#hotspot_menu, .contents_shorten, .top_jump, .fauna-container, 
	.slideshow_nav, .intext_legend {
		display: none;
	}
	#hotspot_menu_alt, .alt_slideshow, .alt_table {
		display: block;
	}
	.preview_section h2, #ack {
		font-size: 1.5em;
	}
	.preview_section h3 {
		font-size: 1.1em;
		min-width: 638px;
	}
	.preview_section img {
		padding-bottom: 2em;
	}
}
@media screen and (max-width: 480px) {
	#hotspot_menu, .contents_shorten, .top_jump, 
	.grid_menu_wide, .map_title, .fauna-container, 
	.slideshow_nav, .intext_legend  {
		display: none;
	}
	#hotspot_menu_alt, .table_links, .alt_menu, .alt_title, .alt_slideshow, 
	.preview_section, .preview_sm_img, .alt_table {
		display: block;
	}
	.preview_section h2, #ack {
		font-size: 1.5em;
	}
	.preview_section h3 {
		font-size: 1.1em;
		min-width: 0;
	}
	.preview_section img {
		max-width: 100%;
		padding-bottom: 2em;
	}
	.img_sub {
		margin-bottom: 2em;
	}
	div.legend {
		top: 0;
		float: none;
		margin-bottom: 4em;
		width: 100%;
	}
	table.width_260 {
		width: 100%;
	}
	div.shifted_text, div.shifted_text_map,
	div.shifted_text_map1, div.shifted_text_map2 {
		/*padding-left: 0;*/
		margin-left: 0;
	}
	.map_detail p {
		display: none;
	} 
	.world_park {
		padding-left: 0;
		padding-right: 0;
	}
	div.full > img {
		padding-bottom: 0;
	}
	div#footer_info div {
		float: none;
		text-align: center;
		margin: 0 auto;
	}
}