<!DOCTYPE html>
<html>
	<head>
		<link href='stylesheet.css' rel='stylesheet' type='text/css'>
		<title>AFEW</title>
	</head>
	<body>
		<header>
			<div id='header_title_img'><img src="images/ATLAS_text_logo.png"></div>
			<nav>
			</nav>
		</header>
		<nav id='top_horizontal'>
			<ul>
				<li><a href=''>Introduction</a></li>
				<li><a href=''>World Maps</a></li>
				<li><a href=''>Datascapes</a></li>
				<li><a href=''>Biodiversity Hotspots</a></li>
				<li><a href=''>Flora & Fauna</a></li>
				<li><a href=''>Conclusion</a></li>
			</ul>
		</nav>
		<div id='line'></div>
		<div id='top'></div>
		<!-- <div id='title'>
			<h1>Biodiversity Hotspots</h1>
			<p></p> -->
		</div>
		<div id='wrapper'>
			<nav class='intra'>
				<a href='#atlantic'>Atlantic Forest</a></br>
				<a href='#'>California Floristic Province</a></br>
				<a href='#'>Cape Floristic Region</a></br>
				<a href='#'>Caribbean Islands</a></br>
				<a href='#'>Caucasus</a></br>
				<a href='#'>Mountains of Central Asia</a></br>
				<a href='#'>Cerrado</a></br>
				<a href='#'>Chilean Winter Rainfall Valdivian Forests</a></br>
				<a href='#'>Coastal Forests of Eastern Africa</a></br>
				<a href='#'>East Melanesian Islands</a></br>
				<a href='#'>Eastern Afromontane</a></br>
				<a href='#'>Forests of Eastern Australia</a></br>
				<a href='#'>Guinean Forests of West Africa</a></br>
				<a href='#'>Himalaya</a></br>
				<a href='#'>Horn of Africa</a></br>
				<a href='#'>Indo-Burma</a></br>
				<a href='#'>Irano Anatolian</a></br>
				<a href='#'>Japan</a></br>
				<a href='#'>Madagascar & The Indian Ocean Islands</a></br>
				<a href='#'>Madrean Pine-Oak Woodlands</a></br>
				<a href='#'>Maputaland Pondoland Albany</a></br>
				<a href='#'>Mediterranean Basin</a></br>
				<a href='#'>Mesoamerica</a></br>
				<a href='#'>New Caledonia</a></br>
				<a href='#'>New Zealand</a></br>
				<a href='#'>Philippines</a></br>
				<a href='#'>Polynesia-Micronesia</a></br>
				<a href='#'>Succulent Karoo</a></br>
				<a href='#'>Sundaland</a></br>
				<a href='#'>Southwest Australia</a></br>
				<a href='#'>Mountains of Southwest China</a></br>
				<a href='#'>Tropical Andes</a></br>
				<a href='#'>Tumbes-Choco-Magdalena</a></br>
				<a href='#'>Wallacea</a></br>
				<a href='#'>Western Ghats and Sri Lanka</a></br>
			</nav>
			<main id='main_partial_width'>
				<h2>Biodiverstiy Hotspots</h2>
				<div>
					<!-- <h3>Region</h3> -->
					<img src="file:///Users/darcyvanbuskirk/Documents/Web/ATLAS/images/atlantic_forests.jpg">
					<caption>Atlantic Forests</caption>
					<a href='#top'>top</a>
				</div></br>
				<div>
					<!-- <h3>Ecorerions</h3> -->
					<img src="file:///Users/darcyvanbuskirk/Documents/Web/ATLAS/images/atlantic_forests_ecoregions.jpg">
					<caption>Shortfall Assesment to reach Target of 17% protected land in each terrestrail region</caption>
					<a href='#top'>top</a>
				</div></br>
				<div>
					<!-- <h3>(Ecoregion Details)</h3> -->
					<img src="file:///Users/darcyvanbuskirk/Documents/Web/ATLAS/images/atlantic_forests_ecoregions_01.jpg">
					<caption></caption>
					<a href='#top'>top</a>
				</div></br>
				<div>
					<!-- <h3>(Ecoregion Details)</h3> -->
					<img src="file:///Users/darcyvanbuskirk/Documents/Web/ATLAS/images/atlantic_forests_ecoregions_02.jpg">
					<caption></caption>
					<a href='#top'>top</a>
				</div></br>
				<div>
					<!-- <h3>(Ecoregion Details)</h3> -->
					<img src="file:///Users/darcyvanbuskirk/Documents/Web/ATLAS/images/atlantic_forests_ecoregions_03.jpg">
					<caption></caption>
					<a href='#top'>top</a>
				</div></br>
				<div>
					<!-- <h3>(Conflicts map)</h3> -->
					<img src="file:///Users/darcyvanbuskirk/Documents/Web/ATLAS/images/atlantic_forests_ecoregions_04.jpg">
					<caption>Conflicts between 2030 porjected urban growth areas and threatened species habitats</caption>
					<a href='#top'>top</a>
				</div></br>
				<div>
					<!-- <h3>(Conflicts details)</h3> -->
					<img src="file:///Users/darcyvanbuskirk/Documents/Web/ATLAS/images/atlantic_forests_conflicts_01.jpg">
					<a href='#top'>top</a>
				</div>
			</main>
		</div>
	</body>
</html>
