<!DOCTYPE html>
<html>
	<head>
		<link href='stylesheet.css' rel='stylesheet' type='text/css'>
		<title>AFEW</title>
	</head>
	<body>
		<header>
			<div id='header_title_img'><img src="images/ATLAS_text_logo.png"></div>
			<nav>
			</nav>
		</header>
		<nav id='top_horizontal'>
			<ul>
				<li><a href=''>Introduction</a></li>
				<li><a href=''>World Maps</a></li>
				<li><a href=''>Datascapes</a></li>
				<li><a href=''>Biodiversity Hotspots</a></li>
				<li><a href=''>Flora & Fauna</a></li>
				<li><a href=''>Conclusion</a></li>
			</ul>
		</nav>
		<div id='line'></div>
		<div id='top'></div>
		<!-- <div id='title'>
			<h1>Biodiversity Hotspots</h1>
			<p></p> -->
		</div>
		<!--<div id='wrapper'>
			<nav class='intra'>
				<a href='#atlantic'>Atlantic Forest</a></br>
				<a href='#'>California Floristic Province</a></br>
				<a href='#'>Cape Floristic Region</a></br>
				<a href='#'>Caribbean Islands</a></br>
				<a href='#'>Caucasus</a></br>
				<a href='#'>Mountains of Central Asia</a></br>
				<a href='#'>Cerrado</a></br>
				<a href='#'>Chilean Winter Rainfall Valdivian Forests</a></br>
				<a href='#'>Coastal Forests of Eastern Africa</a></br>
				<a href='#'>East Melanesian Islands</a></br>
				<a href='#'>Eastern Afromontane</a></br>
				<a href='#'>Forests of Eastern Australia</a></br>
				<a href='#'>Guinean Forests of West Africa</a></br>
				<a href='#'>Himalaya</a></br>
				<a href='#'>Horn of Africa</a></br>
				<a href='#'>Indo-Burma</a></br>
				<a href='#'>Irano Anatolian</a></br>
				<a href='#'>Japan</a></br>
				<a href='#'>Madagascar & The Indian Ocean Islands</a></br>
				<a href='#'>Madrean Pine-Oak Woodlands</a></br>
				<a href='#'>Maputaland Pondoland Albany</a></br>
				<a href='#'>Mediterranean Basin</a></br>
				<a href='#'>Mesoamerica</a></br>
				<a href='#'>New Caledonia</a></br>
				<a href='#'>New Zealand</a></br>
				<a href='#'>Philippines</a></br>
				<a href='#'>Polynesia-Micronesia</a></br>
				<a href='#'>Succulent Karoo</a></br>
				<a href='#'>Sundaland</a></br>
				<a href='#'>Southwest Australia</a></br>
				<a href='#'>Mountains of Southwest China</a></br>
				<a href='#'>Tropical Andes</a></br>
				<a href='#'>Tumbes-Choco-Magdalena</a></br>
				<a href='#'>Wallacea</a></br>
				<a href='#'>Western Ghats and Sri Lanka</a></br>
			</nav>-->
			<main id="main_full_width">
				<h2>Biodiverstiy Hotspots</h2>
				<div>
					<!-- <h3>Region</h3> -->
					<img src="file:///Users/darcyvanbuskirk/Documents/Web/ATLAS/images/world%20map%20hotspots_goode%20homolosine-01_980x549.jpg">
				</div>
				<div id='multi_column_list'>
					<table>
						<tr>
							<td>
								<a href='#atlantic'>Atlantic Forest</a>
								<a href='#'>California Floristic Province</a>
								<a href='#'>Cape Floristic Region</a>
								<a href='#'>Caribbean Islands</a>
								<a href='#'>Caucasus</a>
								<a href='#'>Mountains of Central Asia</a>
								<a href='#'>Cerrado</a>
								<a href='#'>Chilean Winter Rainfall Valdivian Forests</a>
								<a href='#'>Coastal Forests of Eastern Africa</a>
								<a href='#'>East Melanesian Islands</a>
								<a href='#'>Eastern Afromontane</a>
								<a href='#'>Forests of Eastern Australia</a>
							</td>
							<td>
								<a href='#'>Guinean Forests of West Africa</a>
								<a href='#'>Himalaya</a>
								<a href='#'>Horn of Africa</a>
								<a href='#'>Indo-Burma</a>
								<a href='#'>Irano Anatolian</a>
								<a href='#'>Japan</a>
								<a href='#'>Madagascar & The Indian Ocean Islands</a>
								<a href='#'>Madrean Pine-Oak Woodlands</a>
								<a href='#'>Maputaland Pondoland Albany</a>
								<a href='#'>Mediterranean Basin</a>
								<a href='#'>Mesoamerica</a>
								<a href='#'>New Caledonia</a>
							</td>
							<td>
								<a href='#'>New Zealand</a>
								<a href='#'>Philippines</a>
								<a href='#'>Polynesia-Micronesia</a>
								<a href='#'>Succulent Karoo</a>
								<a href='#'>Sundaland</a>
								<a href='#'>Southwest Australia</a>
								<a href='#'>Mountains of Southwest China</a>
								<a href='#'>Tropical Andes</a>
								<a href='#'>Tumbes-Choco-Magdalena</a>
								<a href='#'>Wallacea</a>
								<a href='#'>Western Ghats and Sri Lanka</a>
							</td>
						</tr>
					</table>
				</div>
			</main>
		</div>
	</body>
</html>
